@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/_variables.scss";
@import "../styles/_keyframe-animations.scss";

@custom-variant dark (&:is(.dark *));

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@font-face {
  font-family: "SF Pro";
  src: url("./fonts/SFProDisplay-Medium.woff2");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("./fonts/HelveticaNeue-Medium.woff2");
}

.sun-editor .se-tooltip .se-tooltip-inner .se-tooltip-text {
  font-family: "SF Pro", system-ui, sans-serif;
}

.sun-editor .se-btn-select {
  font-family:
    "SF Pro",
    "Helvetice Neue" system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    sans-serif;
}

/* Fix for the editor content area */

.sun-editor .se-list-inner li > button {
  font-family: "SF Pro";
}

.sun-editor .se-resizing-bar {
  background-color: white;
}

.sun-editor .se-dialog {
  font-family: "SF Pro";
}

@theme inline {
  --font-sf-pro: "SF Pro", system-ui, sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-hightlight-light: #dadbf8;
  --color-accent-light: #d9eae3;
  --color-primary-light: #ffcfe1;
  --color-secondary-light: #fffce5;
  --color-primary-content: #fff;
  --color-secondary-content: #0a0a0a;
  --color-accent-content: #0a0a0a;
  --color-neutral: #222222;
  --color-neutral-content: #ffffff;
  --color-base-100: #f0f0f0;
  --color-base-200: #ffffff;
  --color-base-300: #f2f2f2;
  --color-base-content: #0a0a0a;
  --color-info: #3abff8;
  --color-success: #36d399;
  --color-warning: #fbbd23;
  --color-error: #f87272;
  --color-highlight: #454ade;
  --font-display: var(----font-display);
  --color-color-muted: var(----color-muted);
  --color-color-highlight: var(----color-highlight);
  --color-color-error: var(----color-error);
  --color-color-warning: var(----color-warning);
  --color-color-success: var(----color-success);
  --color-color-info: var(----color-info);
  --color-color-base-content: var(----color-base-content);
  --color-color-base-300: var(----color-base-300);
  --color-color-base-200: var(----color-base-200);
  --color-color-base-100: var(----color-base-100);
  --color-color-neutral-content: var(----color-neutral-content);
  --color-color-neutral: var(----color-neutral);
  --color-color-accent-content: var(----color-accent-content);
  --color-color-accent: var(----color-accent);
  --color-color-secondary-content: var(----color-secondary-content);
  --color-color-secondary: var(----color-secondary);
  --color-color-primary-content: var(----color-primary-content);
  --color-color-primary: var(----color-primary);
  --color-color-secondary-light: var(----color-secondary-light);
  --color-color-primary-light: var(----color-primary-light);
  --color-color-accent-light: var(----color-accent-light);
  --color-color-hightlight-light: var(----color-hightlight-light);
}

:root {
  --radius: 0.85rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-display: "Outfit", sans-serif;
  --font-sans: "Inter Tight", sans-serif;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shimmer {
  position: relative;
  overflow: hidden;
  background: #e2e8f0; /* Tailwind gray-200 */
}

/* --- Custom thin scrollbar --- */
[data-slot="sidebar-container"],
[data-slot="sidebar-gap"] {
  transition: all 0.35s cubic-bezier(0.25, 0.1, 0.25, 1);
}

html {
  scrollbar-gutter: stable;
}
html body[data-scroll-locked] {
  margin-right: 0px !important; /* For LTR layout */
  margin-left: 0px !important; /* For RTL layout */
  overflow: visible !important;
}
.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotateGradient {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
